{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/drawflow.css">
<link rel="stylesheet" href="/static/css/drawflow2.css">
<link rel="stylesheet" href="/static/css/drawflow_theme.css">
{% endblock %}
{% block content %}
<p id="saveText" class="save_text">Saved</p>
<p class="drawflow_error" id="error" style="display: none"></p>
<div class="content" id="content">
    <div class="drawflow_buttons">
        <div class="centered_drawflow">
            <button class="firework_button" onclick="addNodeToDrawFlow('launch')">Launch Firework</button>
            <button class="firework_button" onclick="addNodeToDrawFlow('delay')">Delay</button>
            <button class="firework_button" onclick="save_button()">Save</button>
        </div>
        <div class="right_drawflow">
            <button class="firework_button" onclick="editSelectedNode()">Edit</button>
        </div>
    </div>
    <div class="modal" id="launchmodal" style="z-index: 9999;">
        <div class="inner-modal">
            <h2>Launch Firework</h2>
            <h3>Firework:</h3>
            <button class="firework_button" onclick="set_modal_firework()">Set Firework</button>
            <input type="text" id="launchmodal_launcher" style="display: none">
            <input type="text" id="launchmodal_firework" style="display: none">
            <input type="text" id="launchmodal_nodeId" style="display: none">
        <div class="modal-button">
            <button class="firework_button" onclick="save_launchmodal()">Save</button>
            <button class="firework_button" onclick="close_modal('launchmodal')">Close</button>
        </div>
        </div>
    </div>
    <div class="modal" id="delaymodal" style="z-index: 9999;">
        <div class="inner-modal">
            <h2>Delay</h2>
            <h3>Time (seconds):</h3>
            <input type="number" id="delaymodal_delay">
            <input type="text" id="delaymodal_nodeId" style="display: none">
        <div class="modal-button">
            <button class="firework_button" onclick="save_delaymodal()">Save</button>
            <button class="firework_button" onclick="close_modal('delaymodal')">Close</button>
        </div>
        </div>
    </div>
    <div class="modal" id="savemodal" style="z-index: 9999;">
        <div class="inner-modal">
            <h2>Save</h2>
            <h3>Name: </h3>
            <input type="text" id="savemodal_name">
        <div class="modal-button">
            <button class="firework_button" onclick="save_savemodal()">Save</button>
            <button class="firework_button" onclick="close_modal('savemodal')">Close</button>
        </div>
        </div>
    </div>
    <div class="wrapper" style="border: 2px #202020 solid;"><div id="drawflow"></div></div>
</div>
<div class="firework_select" id="firework_select">
    <h1>Select a Firework</h1>
</div>
<script src="/static/js/fetchvars.js"></script>
<script src="/static/js/drawflow.js"></script>
<script>fetch_variables("/static/js/sequence_builder.js")</script>
{% endblock %}