{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/drawflow.css">
<link rel="stylesheet" href="/static/css/drawflow2.css">
<link rel="stylesheet" href="/static/css/drawflow_theme.css">
{% endblock %}
{% block content %}
<div id="error" class="error_msg">
    <p id="error_text"></p>
</div>
<div class="content" id="content">
    <div class="settings_content">
        <h2 style="margin: 0; margin-bottom: 3px">Visualizing {{ sequence_name }}</h2>
    </div>
    <div class="drawflow_buttons">
        <div class="centered_drawflow">
            <button class="firework_button" id="run_button" onclick="run_sequence()">Run</button>
            <button class="firework_button" id="firenow" onclick="firenow()" style="display: none">Skip Delay</button>
            <button class="firework_button sequence_delete_confirm" id="stop_button" onclick="stop_sequence()" style="display: none">Stop</button>
        </div>
    </div>
    <div class="wrapper" style="border: 2px #202020 solid;"><div id="drawflow"></div></div>
</div>

<script src="/static/js/fetchvars.js"></script>
<script src="/static/js/drawflow.js"></script>
<script>
    sequence = "{{ sequence_name }}";
</script>
<script>fetch_variables("/static/js/sequence_visualizer.js")</script>
{% endblock %}