:root {
    --fg: #ffffff;
    --bg: #303030;
    --font: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: var(--bg);
}

p {
    font-family: var(--font);
    color: var(--fg);
}

label {
    font-family: var(--font);
    color: var(--fg);
}

h1 {
    font-family: var(--font);
    color: var(--fg);
}

h2 {
    font-family: var(--font);
    color: var(--fg);
}

h3 {
    font-family: var(--font);
    color: var(--fg);
}

h4 {
    font-family: var(--font);
    color: var(--fg);
}

h5 {
    font-family: var(--font);
    color: var(--fg);
}

.firework_buttons {
    text-align: center;
}

.firework_button {
    border: none;
    color: white;
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #177bed;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--font);
    transition: opacity 0.5s;
}

.legend {
    text-align: center;
}

.legend-txt {
    font-family: var(--font);
}

.remove {
    opacity: 0;
}

.add {
    opacity: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fc5050;
}

.navbar-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--font);
}

.hamburger-menu {
    display: none;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--font);
}

.navtitle {
    background-color: #fc2020;
    margin: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--font);
}

#hamburgerExpandMenu {
    display: none;
    background-color: #202020;
}

.navbar-item-expanded {
    display: block;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    font-family: var(--font);
}

.hamburger-menu-svg {
    filter: invert(99%) sepia(0%) saturate(7468%) hue-rotate(280deg) brightness(114%) contrast(97%);
}

.navbar-item-li {
    float: left;
}

.navbar-item-hamburger {
    float: right
}

.navbar-item :hover {
    background-color: #ce1e1e;
}

.current_theme {
    margin: 0;
    padding: 10px;
}

.error {
    color: red;
    text-align: center;
}

.themebutton {
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--font);
    background-color: rgba(0, 0, 0, 0);
    color: #177bed;
    border: 2px solid #177bed;
}

.resetbutton {
    border: 2px solid #ff2667;
    color: #ff2667;
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--font);
}

.themebuttons {
    text-align: center;
}

.firework_button {
    background-color: rgba(0, 0, 0, 0);
    color: #177bed;
    border: 2px solid #177bed;
}

.sequence_delete_confirm {
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--font);
    transition: opacity 0.5s;
    background-color: rgba(0, 0, 0, 0);
    color: #ff2667;
    border: 2px solid #ff2667;
}

.yellow-fb {
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--font);
    transition: opacity 0.5s;
    background-color: rgba(0, 0, 0, 0);
    color: #cde03c;
    border: 2px solid #cde03c;
}

.sequencelist {
    text-align: center;
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #303030;
    border: 3px black solid;
    width: 50%;
    height: 40%;
}

.blur {
    opacity: 0.3;
}

.inner-modal {
    position: relative;
    height: 100%;
    padding: 5px;
    text-align: center;
}

.modal-button {
    position: absolute;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.note_box {
    width: 30%;
}

.error_msg {
    display: none;
    width: 100%;
    background-color: #a8100d;
    text-align: center;
    padding: 8px;
}

#error_text {
    margin: 0;
}

.settings_content {
    text-align: center;
    margin: 15px;
}

.terminal {
    width: 100%;
    border: none;
    transform: scale(100%, 100%);
}

.flexbox {
    display: flex;
    height: 100vh;
}

.addonstart_on {
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--font);
    transition: opacity 0.5s;
    background-color: rgba(0, 0, 0, 0);
    color: #50c760;
    border: 2px solid #50c760;
}

.addonstart_off {
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--font);
    transition: opacity 0.5s;
    background-color: rgba(0, 0, 0, 0);
    color: #ff2667;
    border: 2px solid #ff2667;
}

@media screen and (max-width: 720px) {
    .navbar-item {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .navtitle {
        padding: 18px 16px;
    }
    .modal {
        height: 45%;
        width: 70%;
    }
}