<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Firework Launcher - Updating</title>
  </head>
  <body>
    <ul class="navbar">
        <li class="navbar-item-li"><a class="navtitle" href="/">Firework Launcher</a></li>
        <li class="navbar-item-li"><a class="navbar-item" href="/settings">Settings</a></li>
        <li class="navbar-item-li"><a class="navbar-item" href="/sequences">Sequences</a></li>
        <li class="navbar-item-hamburger"><a class="hamburger-menu" onclick="expand_hamburger()"><img src="/static/svgs/bars.svg" width="20" class="hamburger-menu-svg" alt="Hamburger Menu"/></a></li>
      </ul>
      <div id="hamburgerExpandMenu">
        <a class="navbar-item-expanded" href="/settings">Settings</a>
        <a class="navbar-item-expanded" href="/sequences">Sequences</a>
      </div>

      <h1 style="text-align: center">This page will redirect when the update finishes.</h1>
      
      <script src="/static/js/wait_for_update.js"></script>
  </body>
</html>