{% extends 'base.html' %}
{% block content %}

{% if error %}
  <p class="error">Launcher does not exist</p>
{% endif %}
<form method="POST" class="themebuttons">
  <h1>Add Launcher</h1>
  <label for="type">Launcher Type: </label>
  <select name="type" id="type">
    {% for launcher_type in type_metadata %}
      <option value="{{ launcher_type }}">{{ type_metadata[launcher_type]['pretty_name'] }}</option>
    {% endfor %}
  </select>
  <p>Launcher Name</p>
  <input name="launcher_name" type="text" pattern="^[a-zA-Z 0-9.,+-]*$" required="true">
  <p>Port</p>
  <input name="port" type="text" pattern="^[a-zA-Z 0-9.,+-/]*$" required="true">
  <p>Channel Count</p>
  <input name="count" type="number" required="true">
  <br/>
  <button type="submit" class="themebutton">Add</button>
</form>

{% endblock %}
