<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Firework Launcher - Add note</title>
  </head>
  <body>
    <ul class="navbar">
        <li class="navbar-item-li"><a class="navtitle" href="/">Firework Launcher</a></li>
        <li class="navbar-item-li"><a class="navbar-item" href="/add_launcher">Add launcher</a></li>
        <li class="navbar-item-li"><a class="navbar-item" href="/patterns">Patterns</a></li>
        <li class="navbar-item-li"><a class="navbar-item" href="/notes">Notes</a></li>
        <li class="navbar-item-hamburger"><a class="hamburger-menu" onclick="expand_hamburger()"><img src="/static/svgs/bars.svg" width="20" class="hamburger-menu-svg" alt="Hamburger Menu"/></a></li>
      </ul>
      <div id="hamburgerExpandMenu">
        <a class="navbar-item-expanded" href="/add_launcher">Add launcher</a>
        <a class="navbar-item-expanded" href="/patterns">Patterns</a>
        <a class="navbar-item-expanded" href="/notes">Notes</a>
      </div>
      <form method="POST" class="themebuttons">
        <h1>Add Note</h1>
        <label for="launcher">Launcher: </label>
        <select id="launcher" name="launcher">
            {% for launcher in launchers %}
            <option value="{{ launcher }}">{{ launchers[launcher] }} ({{ launcher }})</option>
            {% endfor %}
        </select><br/><br/>
        <label for="firework">Firework: </label>
        <select id="firework" name="firework">
          {% for firework in launcher_count_range %}
          <option value="{{ firework+1 }}"">{{ firework+1 }}</option>
          {% endfor %}
      </select>
        <p>Note</p>
        <input name="note" type="text">
        <br/>
        <button type="submit" class="themebutton">Add</button>
      </form>
      <script>
        function expand_hamburger () {
            menu = document.getElementById("hamburgerExpandMenu");
            if (menu.style.display == "block") {
                menu.style.display = "none";
            } else {
                menu.style.display = "block";
            }
        }
      </script>
  </body>
</html>