<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Firework Launcher - Add launcher</title>
  </head>
  <body>
    <ul class="navbar">
        <li class="navbar-item-li"><a class="navbar-item navtitle" href="/">Firework Launcher</a></li>
        <li class="navbar-item-li"><a class="navbar-item" href="/add_launcher">Add launcher</a></li>
      </ul>
      {% if error %}
        <p class="error">Launcher does not exist</p>
      {% endif %}
      <form method="POST" class="themebuttons">
        <h1>Add Launcher</h1>
        <label for="type">Serial, Shift Register or IP Launcher: </label>
        <select name="type" id="type">
          <option value="serial">Serial</option>
          <option value="ip">IP</option>
          <option value="shiftregister">Shift Register</option>
        </select>
        <p>Launcher Name</p>
        <input name="launcher_name" type="text">
        <p>Serial Port/IP/Chip</p>
        <input name="serial_port" type="text">
        <p>Channel Count</p>
        <input name="count" type="text">
        <br/>
        <button type="submit" class="themebutton">Add</button>
      </form>
  </body>
</html>