{% extends 'base.html' %}
{% block content %}
{% if darkmode %}
    <style>
        h4 {
            color: white;
        }
        .body {
            padding: 10px;
        }
        .form-control {
            background-color: #2d2c2d;
            color: white;
            border: 1px;
            border-color: #3e3d3e;
        }
        .form-control::selection {
            background-color: #3e3d3e;
            color: white;
            border: 0px;
        }
        .form-control::-moz-selection {
            background-color: #3e3d3e;
            color: white;
            border: 0px;
        }
    </style>
{% endif %}
<div class="body">
    <h4>Please enter css below:</h4>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    <br/>
    <button class="btn btn{{ get_outline(darkmode) }}-primary">Upload & Save</button>
</div>
{% endblock %}