{% extends 'base.html' %}
{% block content %}
{% if darkmode %}
    <style>
        h4 {
            color: white;
        }
        .body {
            padding: 10px;
        }
        
    </style>
{% endif %}
<div class="body">
    <h4>Please enter css file below or use a theme:</h4>
    <div class="input-group mb-3">
        <label class="input-group-text" for="css_file_upload">Choose File</label>
        <input type="file" class="form-control" id="css_file_upload">
      </div>
    <br/>
    <button class="btn btn{{ get_outline(darkmode) }}-primary">Upload & Save</button>
</div>
{% endblock %}