<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="{{ get_theme_link(theme) }}" rel="stylesheet">
    <title>Firework Launcher</title>
  </head>
  <body>
    <ul class="navbar">
      <li class="navbar-item-li"><p class="navbar-item navtitle">Firework Launcher</p></li>
      <li class="navbar-item-li"><a class="navbar-item" href="/themes">Themes</a></li>
      {% if admin %}
        <li class="navbar-item-li"><a class="navbar-item" onclick="reset();">Reset</a></li>
        <li class="navbar-item-li"><a class="navbar-item" onclick="dev(rows);" id="devbutton">Dev</a></li>
      {% endif %}
    </ul>
    <div class="firework_buttons" id="firework_buttons"></div>
    <script>
      var theme = "{{ theme }}";
      var rows = parseInt("{{ rows }}");
      var fireworks_launched = "{{ fireworks_launched }}".split(":");
      var admin = "{{ admin }}";
      var firework_profiles = JSON.parse('{{ firework_profiles | safe }}');
    </script>
    <script src="/static/js/socketio.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
