:root {
  background-color: #2d2c2d;
}
.themed-container {
  background-color: #2d2c2d;
}
.container {
  background-color: #2d2c2d;
  text-align: center;
}
.themed-container {
  background-color: #2d2c2d;
}
.row {
  background-color: #2d2c2d;
}
body {
  background-color: #2d2c2d;
}
p {
    color: white;
}
