:root {
  background-color: #7c0800;
}
.themed-container {
  background-color: #7c0800;
}
.container {
  background-color: #7c0800;
  text-align: center;
}
.themed-container {
  background-color: #7c0800;
}
.row {
  background-color: #7c0800;
}
body {
  background-color: #7c0800;
}
p {
  color: white;
}
  