{% extends 'base.html' %}
{% block content %}

<div class="settings_content">
    <h1>Terminals</h1>
    {% for terminal in terminals %}
        <h2 id="terminal_{{ terminal }}">Port {{ terminal }}<a class="firework_button" href="/settings/terminals/sessions/{{ terminal }}">Open</a><button id="remove_{{ terminal }}" class="firework_button" onclick="remove_terminal('{{ terminal }}')">Remove</button></h2>
    {% endfor %}
    <a class="firework_button" id="add_terminal">Add Terminal</a>
</div>
<script src="/static/js/socketio.js"></script>
<script src="/static/js/terminals.js"></script>

{% endblock %}
